@use 'resets';
@use 'colors';
@use 'typography';



/* Global styles */
body {
    font-family: 'Open Sans Variable', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body,
#app {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    background-color: var(--zinc-950);
    color: var(--zinc-100);

    --not-allowed-cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="%23000" d="M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20Z"></path><path fill="%23FFF" d="M12 4a8 8 0 1 0 0 16 8 8 0 0 0 0-16Zm0 14a6 6 0 0 1-4.88-9.47l8.36 8.36A5.95 5.95 0 0 1 12.01 18Zm4.88-2.53L8.53 7.11a6 6 0 0 1 8.35 8.36Z"></path></svg>'),
        not-allowed;
    ;

    // ::-webkit-scrollbar {
    //     width: 8px;
    //     height: 8px;
    // }

    // ::-webkit-scrollbar-track {
    //     background: var(--zinc-900);
    // }

    // ::-webkit-scrollbar-thumb {
    //     background-color: var(--zinc-700);
    //     border-radius: 1rem;
    // }

}

main,
div {
    scrollbar-width: thin;
    scrollbar-color: var(--zinc-700) var(--zinc-900);
}


// @media (prefers-color-scheme: light) {
//     :root {
//         color: var(--zinc-900);
//         background-color: var(--zinc-100);
//     }
// }


.daq-chart {
    // border: 1px solid chartreuse;

    .axes {
        .grid {
            path {
                stroke: var(--zinc-700);
                stroke-width: 0.25;
            }

            .tick {
                line {
                    stroke-opacity: 1;
                    // stroke: var(--zinc-800);
                    stroke-width: 0.25;
                    // stroke-dasharray: 0.25rem 0.25rem;
                }

                text {
                    color: var(--zinc-400);
                    font-family: monospace;
                    font-size: 0.7rem;
                    font-weight: 100;
                }
            }
        }
    }

}
