:root {
    --zinc-50: hsl(0, 0%, 98%);
    --zinc-100: hsl(240, 5%, 96%);
    --zinc-200: hsl(240, 6%, 90%);
    --zinc-300: hsl(240, 5%, 84%);
    --zinc-400: hsl(240, 5%, 65%);
    --zinc-500: hsl(240, 4%, 46%);
    --zinc-600: hsl(240, 5%, 34%);
    --zinc-700: hsl(240, 5%, 26%);
    --zinc-800: hsl(240, 4%, 16%);
    --zinc-900: hsl(240, 6%, 10%);
    --zinc-950: hsl(240, 10%, 4%);
}


:root {
    --teal-50: hsl(166, 76%, 97%);
    --teal-100: hsl(167, 85%, 89%);
    --teal-200: hsl(168, 84%, 78%);
    --teal-300: hsl(171, 77%, 64%);
    --teal-400: hsl(172, 66%, 50%);
    --teal-500: hsl(173, 80%, 40%);
    --teal-600: hsl(175, 84%, 32%);
    --teal-700: hsl(175, 77%, 26%);
    --teal-800: hsl(176, 69%, 22%);
    --teal-900: hsl(176, 61%, 19%);
    --teal-950: hsl(179, 84%, 10%);
}

:root {
    --yellow-400: hsl(48, 96%, 53%);
    --yellow-500: hsl(45, 93%, 47%);
    --yellow-600: hsl(41, 96%, 40%);

    --lime-500: hsl(84, 81%, 44%);
    --lime-600: hsl(85, 85%, 35%);
    --lime-700: hsl(86, 78%, 27%);
    --lime-800: hsl(86, 69%, 23%);
}

:root {
    --cyan-400: hsl(188, 86%, 53%);
    --cyan-700: hsl(193, 82%, 31%);
    --sky-600: hsl(200, 98%, 39%);
    --sky-700: hsl(201, 96%, 32%);
}

:root {
    --rose-50: hsl(356, 100%, 97%);
    --rose-100: hsl(356, 100%, 95%);
    --rose-200: hsl(353, 96%, 90%);
    --rose-300: hsl(353, 96%, 82%);
    --rose-400: hsl(351, 95%, 71%);
    --rose-500: hsl(350, 89%, 60%);
    --rose-600: hsl(347, 77%, 50%);
    --rose-700: hsl(345, 83%, 41%);
    --rose-800: hsl(343, 80%, 35%);
    --rose-900: hsl(342, 75%, 30%);
    --rose-950: hsl(343, 88%, 16%);

    --red-600: hsl(0, 72%, 51%);
}

:root {
    --emerald-200: hsl(152, 76%, 80%);
    --emerald-400: hsl(158, 64%, 52%);
    --emerald-500: hsl(160, 84%, 39%);
    --emerald-600: hsl(161, 94%, 30%);
    --emerald-700: hsl(163, 94%, 24%);
    --emerald-800: hsl(163, 88%, 20%);
}

:root {
    --green-500: hsl(142, 71%, 45%);
    --green-600: hsl(142, 76%, 36%);
    --green-800: hsl(143, 64%, 24%);
}

@for $i from 100 through 950 {
    .zinc-#{$i} {
        color: var(--zinc-#{$i});
    }

    .bg-zinc-#{$i} {
        background-color: var(--zinc-#{$i});
    }

    .border-zinc-#{$i} {
        border: 1px solid transparent;
        border-color: var(--zinc-#{$i});
    }
}
