$font-sizes: xs, sm, md, lg, xl, 2xl;

:root {
    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;
    --font-2xl: 1.5rem;
}

@each $size in $font-sizes {
    .text-#{$size} {
        font-size: var(--font-#{$size});
    }
}

h1 {
    font-size: var(--font-2xl);
    font-weight: 350;
}

button,
input {
    font-family: inherit;
    line-height: 100%;

    &:focus {
        outline: none;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
